Django==5.0.2
djangorestframework==3.16.0
django-cors-headers==4.7.0
python-dotenv==1.0.1
# psycopg2-binary==2.9.9 # Instalarlo si se necesita PostgreSQL
ortools==9.12.4544
googlemaps==4.10.0
Pillow==11.2.1
django-filter==24.1
dj-rest-auth==7.0.1
# Dependencias secundarias
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
pytz==2025.2
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0 